############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

# config file
config.php
phpircbot.conf.php
#phpircbot.conf.php-dist

#random crap
.phptidy-cache

#logs
*.log
